[openstack]
url = https://cloud.cro-ngi.hr:5000/v3
password = PASSWORD
project_domain_id = Default
project_id = PROJECT_ID
project_name = admin
user_domain_id = default
username = admin
member_role = member
interface = public
